[2011-10-22 21:44] timroes opened #1 "Support <nil/>"
There is an extension from the specification that allows the transfer of null values.

The extension is described here: http://ontosys.com/xml-rpc/extensions.php

[2011-10-22 21:46] timroes opened #2 "Forward on 30X http codes"
There should be a flag, so that the client automaticly gets forwarded on a 30X http status code.

[2011-10-22 21:58] timroes opened #3 "Asynchronous call"
Create a method callAsync, that allows to make an asynchronous call. The client will then call a listener, when the response is ready.

[2011-10-24 18:56] #3 closed, assigned to timroes

[2011-10-24 21:08] #1 closed, assigned to timroes

[2011-10-24 21:41] timroes opened #4 "Flag to disable SSL certificate warnings"
There could be a flag to disable the SSL certificate warnings and allow the connection anyway.

[2011-11-01 22:32] timroes opened #5 "Text can be splitted up"
XMLUtil.getOnlyTextContent() should also work if the text is splitted up to multiple TextNodes.

[2011-11-01 22:32] timroes opened #6 "CookieManager must be case insensitive"
On Android the Set-Cookie field in the HTTP response is writte in small caps.

[2011-11-02 19:03] #5 closed, assigned to timroes

[2011-11-02 19:54] #6 closed, assigned to nobody

[2011-11-11 21:51] timroes opened #7 "HTTP authentification"
The client is still missing http authentification.

There should be also a flag to handle HTTP 401 not as a broken package, but somehow tell the user authentification is needed.

[2011-12-08 22:45] timroes opened #8 "Cancel asynchron calls"
You should be able to cancel asynchronous calls.

[2011-12-10 22:00] #8 closed, assigned to nobody

[2011-12-11 21:59] #7 closed, assigned to timroes

[2012-01-23 20:53] timroes opened #9 "Use VarArgs"
Use Vargars (Object...) as parameter for the calls.

[2012-02-19 23:04] #2 closed, assigned to timroes

[2012-02-19 23:04] #4 closed, assigned to timroes

[2012-02-19 23:04] #9 closed, assigned to timroes

[2012-04-03 10:53] gerritmaritz opened #10 "Struct Parsing"
Structs are currently parsed as follows:

[code]

This however does not conform to the [specification](http://xmlrpc.scripting.com/spec.html) where the `<name>` node does not have any children.

The above mentioned problem lies in StructSerializer.java, line 99

[2012-04-03 13:35] #10 closed, assigned to nobody

[2012-04-03 21:16] timroes opened #11 "401 return code isn't handled right"
When the server returns an 401 unauthorized code, the HTTPUrlConnection throws an IOException, so it isn't handled by the FLAGS_IGNORE_STATUSCODE right now.

[2012-04-04 12:39] #11 closed, assigned to timroes

[2012-07-27 21:50] zemanel opened #16 "Parsing large XML responses"
I'm currently not able to parse large endpoint responses due to memory issues (one of the endpoints is a list with 22,746 value entries and no result pagination).

A solution is apparently (as far as i know at the moment) parsing the response using stream parser like SAX (http://developer.android.com/reference/javax/xml/parsers/SAXParser.html). Taking a look at the library, it would be either refa

[2013-02-21 20:18] timroes opened #18 "Set and read cookies from client"
Methods to read and set cookies for a client.

[2013-02-21 21:58] #18 closed, assigned to timroes

[2013-04-12 02:49] h312m4one opened #19 "Set Timeout request"
Can I set request time out?? when my server off, aplication not stop to request?

[2013-04-14 21:20] #19 closed, assigned to timroes

[2013-04-16 23:48] sebageek opened #20 "Support for self signed certificates"
Currently aXMLRPC allows to do certificate checking against either the preinstalled certificate store or to disable checking. In my case my xmlrpcserver is using self signed certificates, so the thing I want to check against is either a certificate fingerprint or a preinstalled root-cacert shipped with the application (depending on the usecase).

I think the easiest way to achieve this is to allow

[2013-04-17 20:27] #20 closed, assigned to timroes

[2013-05-24 15:59] The-Loeki opened #22 "<string> content must be escaped"
The library simply dumps contents into the content of the xml tag.

However, if said content contains at least < and >, and possibly &, it will confuse all XML-RPC parsers because the output XML for example will become
<name>name</name>
<value><string>I'm <100% OK</string></value>
</member>
The solution is to escape to HTML codes:
<name>name</name>
<value><string>I'm &lt;100% OK</string></value>
<

[2013-05-28 12:49] The-Loeki opened #23 "DoubleSerializer doesn't handle Floats"
DoubleSerializer attempts to cast [Ff]loats as Doubles, which can't be done.

Since Float & Double are both Numbers, and Number implements .doubleValue(), I recommend changing the cast to that.

[code]

[2013-05-28 14:36] #22 closed, assigned to timroes

[2013-05-28 14:36] #23 closed, assigned to timroes

[2013-05-28 17:16] The-Loeki opened #24 "RFE: Support serializing Collections (Lists,Sets) and BigDecimals"
BigDecimals would be nice because of their guaranteed precision, and since they extend Number it's easy to add them. Collections have a toArray() method, and are arguably always arrays in XML-RPC.

In SerializerHandler.java:

[code]

In ArraySerializer.java:

[code]

[2013-06-23 16:45] #24 closed, assigned to nobody

[2013-07-09 10:34] ghost opened #25 "Serialization Problem"
I'm trying to use your library to connect to OpenERP through XML-RPC, but I'm having the hardest time. I've been trying arrays and ArrayLists, but to no avail.

In order to search for information, you have to send over a 2 dimmensional array of search information such as [['name','=','apple'],['shape','=','round'], but every time I ALWAYS get a "No serializer found" exception. This needs to go at

[2013-07-09 10:34] #25 closed, assigned to nobody

[2013-07-09 10:36] allenwyma opened #26 "Serialization Problem"
I'm trying to use your library to connect to OpenERP through XML-RPC, but I'm having the hardest time. I've been trying arrays and ArrayLists, but to no avail.

In order to search for information, you have to send over a 2 dimmensional array of search information such as [['name','=','apple'],['shape','=','round']], but every time I ALWAYS get a "No serializer found" exception. This needs to go at

[2013-07-12 01:48] #26 closed, assigned to nobody

[2013-07-24 01:58] allenwyma opened #27 "Response from Server Throwing Illegal Arguments Exception"
I'm running a method on a server and getting back a proper reply without an error (not sure, exactly, what the reply is), but it should be translated as a `HashMap<String, Object>` with just a string value stored.

[2013-07-24 02:38] #27 closed, assigned to nobody

[2013-07-30 08:08] allenwyma opened #28 "False Return value?"
This may or may not be a problem with aXMLRPC, but it's hard to say. I wrote 2 apps, one in android and one in iPhone that talk to an XML-RPC server. In a certain situation, when I make a call to the server, it replies with true saying that an action has been done, but on the server, it doesn't seem to register.

The log on the server denotes that there wasn't an error, when in debugging mode, the

[2013-08-03 11:00] #28 closed, assigned to nobody

[2013-09-18 19:34] ghost opened #29 "Slow Performance"
I am trying to use aXMLRPC:

First, this is great library, only one I could find good for Android Development.

---

Line 1: XMLRPCClient client = new XMLRPCClient(new URL("http://forums.androidcentral.com/mobiquo/mobiquo.php"));
## Line 2: Object[] obj = (Object[]) client.call("get_forum", new Object[] { true });

Before Line 2 is called, # of objects in memory is 77367. After Line 2 is called #

[2013-09-19 13:19] #29 closed, assigned to nobody

[2013-11-05 14:09] ghost opened #31 "No serializer found exception, XML escaping."
Hello. I use library for WordPress posting from Android app.
For about last week, i spontanly receiving this from client.call() method. I tried to reproduce bug, but it's realy random, and does not regard to connection speed or parameters in post body.

Can this be explained?

Upd:
This bug is in version 1.7.2.
After reverting to 1.7.0 all seems to be OK.
One more question for versions from 1.7.1

[2014-01-10 20:12] ghost opened #32 "gzip support"
In case of:
XMLRPCClient client = new XMLRPCClient(url));           client.setCustomHttpHeader("Accept-Encoding", "gzip");

in the XMLRPCClient.java should handle it with:

Existing Line #689: istream = http.getInputStream();
if ("gzip".equals(conn.getContentEncoding()))
                    {
                        istream = new GZIPInputStream(istream);
                    }

[2014-02-05 09:00] Remie-l opened #33 "Error with empty element tag"
I send request to server, and check it with Wireshark - the response is coming good. But, logcat return error:
de.timroes.axmlrpc.XMLRPCException: Error getting result from server.

I analyse the response from server, and found that there is an empty element tag - "value"

[code]

Everything else is OK.

Can it be solved? Thanks!

[2014-04-03 11:58] drenda opened #35 "aXMLRPC and Apache XML-RPC"
I'm trying to use aXMLRPC library on Android to get data from my application that use Apache XML-RPC.

But when I make a call I've this exception. I can't figure out if is a problem of aXMLRPC or something else.

Thanks

04-03 13:11:30.649      726-996/? E/﹕ de.timroes.axmlrpc.XMLRPCException: Error getting result from server.
            at de.timroes.axmlrpc.ResponseParser.parse(Unknown Source)

[2014-04-03 12:38] #35 closed, assigned to nobody

[2014-04-04 06:44] drenda opened #36 "No deserializer for Ex:Nil"
Hi,
I'm using this library using XMLRPCClient.FLAGS_DEFAULT_TYPE_STRING | XMLRPCClient.FLAGS_NIL flags but when the server send me a null value I've this exception on the client:
04-04 08:38:48.835  16314-16767﹕ de.timroes.axmlrpc.XMLRPCException: Error getting result from server.
            at de.timroes.axmlrpc.ResponseParser.parse(Unknown Source)
            at de.timroes.axmlrpc.XMLRPCClient$

[2014-05-13 11:53] lgnap opened #37 "Log xml sent & received"
Only for debug purpose.

[2014-06-11 09:35] chriskikoti opened #38 "Unwanted XML tags added"
Some extra tags <array> and <data> are added to a xml request of the type struct. How can I get rid of them? I tried to go through the codes unsuccessfully

[2014-06-12 21:03] kazemnejad opened #39 "Can't create handler inside thread that has not called Looper.prepare() on showing toast"
Thanks for your great library.
I want to make and show toast message in XMLRCPCallBack.onResponse(),
but i'll give fatal exception.

[code]

[2014-06-12 21:26] #39 closed, assigned to nobody

[2014-06-16 07:18] #38 closed, assigned to nobody

[2014-12-03 19:13] lloy0076 opened #41 "'an be' in README.md"
Should be 'can be'.

[2014-12-28 20:23] #41 closed, assigned to nobody

[2015-01-31 11:25] timroes commented on #32
Will be solved in 2.0.0 by using OkHttp as an satisfying HTTP library.

[2015-03-26 08:08] flohmueller opened #42 "introduce a new DateTimeSerializer"
Hi Tim,

According to the [XMLRPC Spec](http://xmlrpc.scripting.com/spec.html) the dateTime values should conform to [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601).

Maybe you could create a less strict `DateTimeSerializer`..!?
The accepted answer from this [stackoverflow question](http://stackoverflow.com/questions/2201925/converting-iso-8601-compliant-string-to-java-util-date) hints that you

[2015-03-26 15:45] flohmueller opened #43 "encoding issue"
Hi there..

I stumbled across a nasty encoding issue that could only be solved by using the vm parameter `-Dfile.encoding=UTF-8`.

It seems your `SimpleXMLCreator` is a little liar when it comes to the xml encoding.. The value used in `"<?xml version=\"1.0\" encoding=\"UTF-8\"?>` is not necessarily the same when `de.timroes.axmlrpc.XMLRPCClient.Caller.call(String, Object[])` writes the xml to the

[2015-05-21 10:13] LiHanQing opened #44 "No serializer found for type '[Ljava.lang.Object;'."
i have a parameters : object[] {a,b,c,d, new object[]}  it throws this exception:
No serializer found for type '[Ljava.lang.Object;'.
![screen shot 2015-05-21 at 6 09 34 pm](https://cloud.githubusercontent.com/assets/9080543/7746473/1abf49b6-ffe5-11e4-86d9-371b430c3c04.png)

[2015-06-25 21:03] autonomous1 opened #45 "Parse xmlrpc direct to Json with SAX"
Hello,

I wrote a parser handler for aXMLRPC that generates a json object model directly from xmlrpc via sax parsing with no intermediate data structures generated during processing. It produces a json object model equivalent to importing an aXMLRPC object model into gson.

I noted that a few projects using aXMLRPC convert the output to json, and this scenario requires multiple object models to be

[2015-07-27 05:52] gturri commented on #42
Hi,

I'm using aXMLRPC to communicate with instances of Dokuwiki.
With https://github.com/splitbrain/dokuwiki/commit/4d1366e45cecd27c337b0a8d606cfcde58f9ac8c; Dokuwiki changed the way dates are encoded.

Before this commit it, it returned eg:

    <dateTime.iso8601>20141110T23:38:51</dateTime.iso8601>

Now it returns eg:

    <dateTime.iso8601>2014-11-10T23:38:51+0000</dateTime.iso8601>

and it se

[2015-07-27 07:46] timroes commented on #42
Hi @gturri,

since you made so much already, I added you as a collaborator to the project so you can directly push to this repository (and should be able to merge any PR or similar).
I haven't had added this feature anymore, because I started working on a version 2 (found in branch develop-v2) which is a complete rewrite and should be way better designed than the old library (e.g. having modular s

[2015-07-28 19:11] gturri commented on #42
Thank you for giving me those permissions.

I made a fix (Dokuwiki compatible), but since it's rather ugly, I'd like to let you a chance to look at it.

Moreover, I need you anyway since it would be nice to push a 1.8.1 maven package :)

[2015-08-03 05:54] #42 closed

[2015-08-13 11:08] HectorFGarcia opened #47 "DateTimeSerializer uses javax.xml.bind..."
...and that package doesn't exists on Android, so you can't run the class properly.

[2015-08-13 11:11] timroes commented on #47
You can use the 1.8.0 version, until this issue is fixed.

/cc @gturri This is true, and that part of the code would need changes again to properly work on Android.

[2015-08-13 12:47] gturri commented on #47
@HectorFGarcia can you share pointers that would show how we can parse ISO 8601 dates on Android?

[2015-08-13 13:16] HectorFGarcia commented on #47
No, sorry, I never did it before so I don't have a single clue. Until now I always used the Apache's XMLRPC library.

Maybe in android.util.* could be something to help, idk.

[2015-08-13 13:27] timroes commented on #47
We should not use android.* to maintain support for both regular java and android. `SimpleDateFormat` should work. Till end of month I am not really able to code in a reasonable manner, so I can't really look into it till then.

[2015-09-17 14:53] micgro42 opened #48 "publish 1.8.1 to maven central"
Hi,

I would greatly appreciate it if you could publish version 1.8.1 to maven central so that other projects on maven central can depend on it.

Cheers and thank you for providing this great piece of software.

[2015-09-17 15:36] timroes commented on #48
Maven Central has way higher standards/rules/requirements than JCenter. The gradle build script I wrote currently doesn't generate enough to publish on maven central (e.g. generate signatures).

I understand the need for some projects to have it on maven central, but unfortunately currently don't have the time to fix all this, so I wouldn't expect any release on Maven Central. If this is something

[2015-09-17 15:49] timroes opened #49 "Search for a new maintainer"
Since I haven't consumed any XML-RPC interface in around 2-3 years now (since luckily REST and JSON are now a widely accepted standard), I am not in use of this library anymore. That way I am also not contributing any time into it anymore. I started developing in version 2, which would have been a completely rewrite from scratch of this library using more modern dependencies, like OkHTTP for netwo

[2015-09-17 15:58] gturri commented on #48
Hi @timroes ,

Since I'm not familiar with Gradle, I may be saying something dumb; but before 7fd68d234771b765e0e6db6c853681b221d23c91 it was possible to publish on maven central, so isn't it possible to partially revert this commit in order to be able to manually push both to maven central and to jcenter?
(More precisely, wouldn't  adding back the deleted lines allow this?)

Of course, with this

[2015-09-17 16:04] gturri commented on #49
Since I'm using your library, I'm ok to take on this role.

To be honest, I currently only plan to
* fix #47 and #48
* look into future incoming reviews and create new releases accordingly

To put it in a nutshell, if someone else is willing to be a better maintainer, I'll gladly let her take on this role. Otherwise I'll go on within the next few weeks

[2015-09-19 07:04] gturri commented on #49
Actually I went ahead and published a fork fr.turri.aXMLRPC 1.8.2 (http://search.maven.org/#artifactdetails|fr.turri|aXMLRPC|1.8.2|jar) (same code as 1.8.1; only differences are the groupId, and that it's available on maven central instead of JCenter)

That being said, let's keep this issue open a bit more, because if a someone else is also interested in maintaing aXMLRPC, I would gladly let this

[2015-09-20 11:22] gturri commented on #48
In case someone else finds this issue: if you need axmlrpc 1.8.1 from maven central, you may use fr.turri.aXMLRPC 1.8.2. The code is exactly the same as 1.8.1. I just forked to change the group Id  in order to get the permissions to publish it.

[2015-10-21 00:07] dawadam opened #50 "multi-call"
Is it possible to make multicall in one request ? How ?

(RFC: system.multicall)

[2015-10-21 15:52] timroes commented on #50
This client does not support multicalls.

A feature that could possibly be added by a succeeding maintainer, that I am currently looking for, see #49.

[2016-01-03 10:26] gturri commented on #47
I tried a POC on my fork (branch "dates": https://github.com/gturri/aXMLRPC/tree/dates) which

* doesn't use javax.xml.bind
* is still able to parse more types of ISO-8601 dates than before (including dates serialized with a timezone)

It still needs more tests and some refactoring, but meanwhile, since I'm not familiar with Android development, @HectorFGarcia could you take a moment to tell me if

[2016-01-30 15:15] #48 closed

[2016-01-30 15:16] gturri commented on #47
It has now been completely fixed in the fork https://github.com/gturri/aXMLRPC since we now rely on jISO8601 (http://search.maven.org/#search|ga|1|a%3A%22jISO8601%22) to parse the date, and it is itself Android compatible.

(fix available in `master` for now: it hasn't been pushed to maven central yet)

[2016-01-30 15:16] #47 closed

[2016-01-30 15:19] gturri commented on #43
Hi,

if you're still interested in that bug, since you have the fix, could you please submit a pull request with both this fix, and consequent no reg test?

(Ideally, please submit the PR on https://github.com/gturri/aXMLRPC)

[2016-02-12 06:52] flohmueller commented on #43
Hey gturri,
sry for taking so long..
unfortunately I have no idea what you mean by "no reg test". I understand it's got something to do with android compatibility..!? But currently I'm neither into android development nor doing builds/tests/whatever with gradle. :(
Sorry to let you down..

[2016-03-10 08:53] LiHanQing opened #51 "No serializer found for type '[Ljava.lang.Object;'."
i have a parameters : object[] {a,b,c,d, new object[]}  it throws this exception:
No serializer found for type '[Ljava.lang.Object;'.
![screen shot 2015-05-21 at 6 09 34 pm](https://cloud.githubusercontent.com/assets/9080543/7746473/1abf49b6-ffe5-11e4-86d9-371b430c3c04.png)

[2016-03-17 11:16] meryaam opened #52 "Difference"
Hi
I want just know the difference between aXMLRPC and XMLRPC because i want develop an android application interfacing with odoo(OpenErp) which one can i use

[2016-03-17 14:17] gturri commented on #52
Hi @meryaam ,

xml-rpc is a protocol (see http://xmlrpc.scripting.com/spec.html) which is implemented by this library aXMLRPC.

odoo seems to have an xmlrpc interface (https://doc.odoo.com/6.0/developer/6_22_XML-RPC_web_services/), so you might be able to use this library.

However, you might want to use this fork https://github.com/gturri/aXMLRPC instead, because the development on this repositor

[2016-03-21 06:26] gturri commented on #47
Update: the fix is now available in maven central, in fr.turri.aXMLRPC 1.8.3 (search.maven.org/#search|ga|1|axmlrpc)

[2016-03-23 14:21] kchvilyov opened #53 "NullPointerException from call if null parameter in params array"
Thank you for useful library!
If I if use one null parameter in params array(fullParams) of the call request:
    result = client.call(method, fullParams);
I get Unprescribed exception:
java.lang.NullPointerException
    at de.timroes.axmlrpc.serializer.SerializerHandler.serialize(SerializerHandler.java:220)
    at de.timroes.axmlrpc.Call.getXMLParam(Call.java:82)
    at de.timroes.axmlrpc.Call.ge

[2016-03-23 15:01] gturri commented on #53
Hi,

As far as I understand, you have a rather clear idea of how this behavior should be enhanced. What about submitting a pull request (along with a unit test)?

Also, I would be grateful if you could propose this pull request on the fork https://github.com/gturri/aXMLRPC, since it's there that development in being continued (see https://github.com/timroes/aXMLRPC/issues/49)

[2016-03-23 15:03] #49 closed

[2016-04-09 00:54] skeppi opened #54 "java.net.socketexception socket failed eacces (permission denied) android studio"
Hi, I'm using your library but i'm trying to connect to OpenERP but i keep getting this error and yes i already added the internet permission in the manifest file
HELPPP

[2016-04-09 00:56] skeppi commented on #52
@meryaam  were you able to connect and fetch from the database? bc i'm still stuck :'(

[2016-04-09 03:49] skeppi commented on #54
NEver mind fixed it :dancer:

[2016-04-09 03:50] #54 closed

[2016-04-09 09:47] gturri commented on #52
What code did you try? How does it fail?

[2016-04-09 11:24] timroes commented on #49
@gturri I would like to transfer you this original repo, which will cause all git clones of this repo (and forks) forward to your repo. Therefor you would need to delete your repository, because it only works as long as you don't already have a repository with that name. I just merged all your changes via a pull request into this repository. Could you please delete yours, so I will be able to tran

[2016-04-09 11:52] gturri commented on #49
It would indeed be more clear for users, to know where they should open bug reports.
I just deleted my fork.

One question though: isn't it likely to invalidate the url https://github.com/timroes/aXMLRPC? Wouldn't it be a shame to break all the links pointing at it?

[2016-04-09 12:06] timroes commented on #49
The web traffic should be redirected as well according to their documentation: https://help.github.com/articles/transferring-a-repository/#redirects-and-git-remotes

But we'll see in a moment :-)

[2016-04-09 12:40] timroes commented on #49
Thanks for accepting. Forwarding works perfectly fine!

[2016-04-09 13:18] skeppi commented on #52
@gturri  Thanx for getting back to me I executed this code https://books.google.co.ma/books?id=CXriCgAAQBAJ&pg=PA40&lpg=PA40&dq=search+method+for+odoo+in+java&source=bl&ots=h5pExCSKXN&sig=9GU1VeFaAyDJtEtfMgDqoWu1SWk&hl=en&sa=X&redir_esc=y#v=onepage&q=search%20method%20for%20odoo%20in%20java&f=false turned out i was putting the permission thing inside the application rather than out now it works fi

[2016-04-09 13:46] skeppi commented on #26
@HangingClowns  hey could you pls elaborate more and share your code if possible i'm tryin to perform a search and display in a onclick list items
I would very much appreciate it thanxxx

[2016-04-09 14:15] HangingClowns commented on #26
What do you want to know?

[2016-04-09 14:17] skeppi commented on #26
I want to fetch Strings from database and pass them so they are visible on the list of items. for example i want to search the res.partner and return the names of partner given some conditions

[2016-04-09 15:28] skeppi commented on #26
this is my code: i'm getting : No serializer found for type java.lang.object what i dont understand is that is the reply from the server will have the result of the search? so if it's a lot of parameters means that i'm passing them as one string? ppls HELP
Object[] l = { "is_company", "=", false };
        Object[] filter = { l };
        SearchIdTask = odoo.Search_read(listner,"db","1","password"

[2016-04-09 15:31] skeppi commented on #26
actually i'm not getting a response from the server but an error either from XMLRPCexception or XMLRPCserverexception

[2016-04-09 17:05] skeppi commented on #26
Hello I'm so sorry but i managed to fix that but now i have a problem when i execute this:
Map<String, List> emptyMap = new HashMap<>();
        List<String> filter = Arrays.asList("is_company", "=", "false");
        odoo = new OdooUtility("http://10.10.35.7:8069", "object");
        SearchIdTask = odoo.search_read(listner, "dbodoo", "1", "Jorg53089", "res.partner", filter, emptyMap);

which resu

[2016-04-10 08:07] gturri commented on #26
@skeppi It looks like the server replied with an error and that's what aXMLRPC is reporting

You might want to use the latest commit of aXMLRPC I just pushed (https://github.com/gturri/aXMLRPC/commit/500fe0ebb80a5ecad1c521ce4c35eed2fcdee5a3) and instantiate the XMLRPCClient with the new FLAGS_DEBUG, in order to confirm this.

[2016-04-10 10:50] skeppi commented on #26
how do i do that exactly? sorry I'm very new to this should i download the library you provided? or what also i dont understand why it giving me that error !

[2016-04-10 10:51] skeppi commented on #26
@gturri

[2016-04-10 11:34] gturri commented on #26
@skeppi  You should:

1. use the latest sources of aXMLRPC
2. then add the debug flag in your code

The exact steps to use the latest sources, depends on how you're using this library (Are you using Maven or Gradle? Did you download a jar? Have you copied the sources?).
If you provide me with more details, I could be more specific if you need help for this part.

Once you're using the latest versi

[2016-04-10 11:37] skeppi commented on #26
@gturri I downloaded the jar thank you so much so i will be able to know what is causing the error?

[2016-04-10 11:54] gturri commented on #26
You may go to https://turri.fr/temp_github/ in order to download both `aXMLRPC-1.8.4-SNAPSHOT.jar`	(the latest version with the debug flag), and `jISO8601-0.2.jar` (which is a dependency of aXMLRPC)

Once you have those files, you may add them to your project as you did in the first place.

[2016-04-10 11:56] skeppi commented on #26
@gturri Thank you so much can i bother later if i have another error it's just because it's a school project and i'm on a deadline thank you so muchhh!!!

[2016-04-10 15:09] skeppi commented on #26
@gturri I got this: + the usual error after that of course

I/System.out: <?xml version="1.0" encoding="UTF-8"?><methodResponse>
I/System.out: <fault>
I/System.out: <value>
I/System.out:             <struct>
I/System.out: <member>
I/System.out: <name>faultCode</name>
I/System.out: <value>
I/System.out:                         <int>1</int>
W/art: Suspending all threads took: 617.319ms
 I/System.out

[2016-04-10 15:14] skeppi commented on #26
@gturri Sorry something went wrong and the tags disappeard:
I/System.out: <?xml version="1.0" encoding="UTF-8"?>
I/System.out:fault
I/System.out: value
I/System.out: struct
I/System.out: member
I/System.out: name faultCode name/
I/System.out: value
I/System.out: int 1 int/
W/art: Suspending all threads took: 617.319ms
I/System.out: value/
I/System.out: member/
I/System.out: member
I/System.out: st

[2016-04-10 17:31] gturri commented on #26
(tips: when you post code in a github review, start the line with 4 whitespaces in order to display it correctly (it also works like this on several other platforms, for instance Stackoverflow). Not that I edited most of your previous message, that's why it works)

Well, I maintain this project -among others- as a hobby on my spare time. So you may ask for more help, but I do not guarantee that I'

[2016-04-10 17:39] skeppi commented on #26
@gturri thank you so much for you time
After long investigation, i rewrote the method and found that i have a problem with the filter which is the parameters i'm passing (the conditions to perform the search)

Thank you

[2016-04-11 06:56] gturri commented on #52
No news from Meryaam for about a month, and skeppi found his answers on #26 => closing this issue

[2016-04-11 06:56] #52 closed

[2016-05-16 14:31] EricHorvat opened #58 "Dependency problem"
After I cloned the repository in my computer and include the code in my Android app, when I've tried to build the app, Android Studio throws that DateTimeSerializer needs fr.turri.jiso8601.Iso8601Deserializer. I looked for it in gturri gitHob account profile, cloned and include it. It works perfectly, but should advice in the readme or another place. Thanks!

[2016-05-16 15:03] gturri commented on #58
Thank you for the bug report.

I'm not sure I understand: if you're using maven or gradle to build your project, doesn't it automatically download jiso8601 from maven central (http://search.maven.org/#search|ga|1|jiso8601)?

[2016-05-30 14:57] EricHorvat commented on #58
Sorry for my delay!!
I downloaded the source code, not used maven nor gradle. And then, I copied and pasted in src folder. I only suggest to notify of this to other users than prefer to download the code.

[2016-05-30 15:12] gturri commented on #58
Thanks for the explanation.

The information about this dependency is already available in the [pom.xml](https://github.com/gturri/aXMLRPC/blob/master/pom.xml#L40). It's a rather common file in the Java ecosystem, so I guess most users will know it.
I'd rather not duplicate this information, in particular because if I ever had a dependency, I'll have to update two places (well, in practice I'm sur

[2016-05-30 15:12] #58 closed

[2016-07-03 14:15] cec91 opened #59 "i cannot include library in my project"
i tried to follow the instructions on the github project but they did not work for me. I have to include the library in android studio.

i tried to: 1) copy the whole code in my project but i had a lot of conflicts about package, and, once solved, i began to have problems about lacks of functions not defined 2) i tried to use mvn install command, but it did not work, something like 100 errors disp

[2016-07-03 14:46] gturri commented on #59
You might want to take a look at https://github.com/gturri/DokuJClient since it uses aXMLRPC. It does so using maven: https://github.com/gturri/dokuJClient/blob/master/pom.xml#L89

If it doesn't help fix the trouble you're going through, please give more details. For instance: which conflicts did you experience? which functions aren't defined? what do the 100 errors look like?

[2016-07-03 15:16] cec91 commented on #59
first i tried to copy and paste all the source code in my project:
The problem was the path of the imports in each class of the library. Then i solved this kind of error cancelling each import e then making them again. After that i ve got errors like:
1) "Incompatibile types" every time the function "makeXmlTag" is called
2) The method "addChildren" doesn't exist
3) The method deserialize clashes

[2016-07-03 15:50] gturri commented on #59
Regarding maven compilation: it seems to be errors during the javadoc generation because warnings are treated as errors. I'd suggest by-passing this generation: instead of running `mvn install`, you could try running `mvn -Dmaven.javadoc.skip`.

**However**, I think you don't need to compile it at all since the jar is available on [maven central](http://search.maven.org/#search%7Cga%7C1%7Cg%3A%22f

[2016-07-05 13:47] cec91 commented on #59
Thank you, now it s working

[2016-07-20 13:48] cec91 opened #60 "java.lang.NoClassDefFoundError: Failed resolution of: Lfr/turri/jiso8601/Iso8601Deserializer"
I'm trying to make a normal xml rpc call but i get this error:

java.lang.NoClassDefFoundError: Failed resolution of: Lfr/turri/jiso8601/Iso8601Deserializer

Does anyone know how to solve it?
Thanks

[2016-07-20 13:54] gturri commented on #60
It's probably because you're missing the dependency [jISO8601](http://search.maven.org/#search%7Cga%7C1%7Ca%3A%22jISO8601%22)
It's a direct dependency of aXMLRPC as we can see in the [pom.xml](https://github.com/gturri/aXMLRPC/blob/master/pom.xml#L42) (actually it's the only needed dependency: the other are required for the tests)

I don't know how you built your project, but if you use maven or g

[2016-07-20 13:56] cec91 commented on #60
I took the jar file from [http://search.maven.org/#search%7Cga%7C1%7Cg%3A%22fr.turri%22%20AND%20a%3A%22aXMLRPC%22](maven central)

is there a way to include that dependency ?
Thanks!

[2016-07-20 13:57] cec91 commented on #60
sorry i did not see your link! i think it's enough download that jar! i ll let you know
thanks

[2016-07-20 14:06] cec91 commented on #60
Thank you now it's working

[2016-07-20 14:06] #60 closed

[2016-07-22 23:03] juddgaddie commented on #45
Is this code available anywhere to review ?

[2016-07-22 23:15] autonomous1 commented on #45
It is not posted anywhere or on github but I can send you the zip file for
the parser . I must say that the method of parsing direct to json via sax
offers a substantial performance increase over parsing into dom and
traversing the dom tree.

On Fri, Jul 22, 2016 at 4:03 PM, Judd Gaddie <notifications@github.com>
wrote:

[2016-07-22 23:21] juddgaddie commented on #45
Why do you want to construct a JSON object model from XML, why not just build up a POJO directly ?

I'm not sure if it will help with performance unless the response is significantly large as aXMLRPC makes a new TCP connection for every api call. I find this slows down multiple api calls significantly.

Happy to look at the code if you send it my way.

[2016-07-22 23:28] autonomous1 commented on #45
Because the xmlrpc data is forwarded to javascript which consumes the json
object.

Since the resulting json objects could be quite large, in some cases
several megabytes, parsing directly to json or pojo saves memory and
processing time. The sax parser could be easily modified to create a pojo.

On Fri, Jul 22, 2016 at 4:21 PM, Judd Gaddie <notifications@github.com>
wrote:

[2016-07-22 23:32] juddgaddie commented on #45
That sounds excellent just not required for my use case.

Why not just fork aXMLRPC on Github and commit your changes?

[2016-07-22 23:38] autonomous1 commented on #45
Sure, I could fork aXMLRPC, no problem!

On Fri, Jul 22, 2016 at 4:32 PM, Judd Gaddie <notifications@github.com>
wrote:

[2016-07-23 08:08] gturri commented on #45
@autonomous1 , I'm discovering this issue just right now because I wasn't the maintainer of aXMLRPC when you opened it a year ago.
If you commit your feature on a fork on Github, what about submitting a pull request, so that we might potentially include it here?

[2016-07-28 10:34] Viish opened #61 "Application being rejected"
Hi,

When trying to publish my app, I get this message:
Beginning May 17, 2016, Google Play will block publishing of any new apps or updates containing the unsafe implementation of the interface X509TrustManager.

Can you do something about it ?

Best regards.

[2016-07-28 13:01] gturri commented on #61
Hi,

Thanks for the bug report. I think it shouldn't be too hard to fix, but it will likely result in removing a feature (the flag FLAGS_SSL_INGORE_INVALID_CERT).
In order to minimize the negative impact it might have, I would be grateful if you can give me more info on the exact cause of the issue (for instance a link to a doc which describes the scope of this limitation)

[2016-07-28 13:10] Viish commented on #61
Maybe this will be helpful: https://developer.android.com/training/articles/security-ssl.html#UnknownCa

[2016-07-28 13:10] Viish commented on #61
This stackoverflow has an accepted answer for the same issue as well: http://stackoverflow.com/questions/35530558/how-to-fix-unsafe-implementation-of-x509trustmanager-in-android-app

[2016-07-28 21:36] gturri commented on #61
Thanks for those pointers.

I  pushed what should be a fix on the branch `fix61` (https://github.com/gturri/aXMLRPC/commits/fix61): https://github.com/gturri/aXMLRPC/commit/f0e4e8de1b0f2e544a27fdb08b6ebb3a6993161a

Before I push it on `master`, can you check that it indeed fixes the issue?

[2016-08-01 10:28] Viish commented on #61
Hi,

Thanks for the branch but removing the features ins't really a fix.
Anyway I do believe however that it will allow the app to be published (but I can't try it right now).
Do you have plan to get the feature working somehow ?

Cheers.

[2016-08-01 12:23] gturri commented on #61
I adapted the readme (see the commit) to explain how one could still bypass invalid certificates.
It will be less convenient, but as far as I understand the issue, it's not possible to do better

[2016-08-01 12:26] Viish commented on #61
What you put in the README is to use the X509TrustManager which is the cause of the app being rejected. I believe the "solution" in the README will cause any app using this to be rejected as well.

[2016-08-01 17:54] gturri commented on #61
Indeed.
As far as I understand, with this constraint from Google Play, it's not possible anymore to have an application that could allow any invalid certificate.

[2016-08-06 15:20] gturri commented on #61
@viish , any chance you could validate that this commit indeed fixes this issue? Shall I merge it into `master`?

[2016-10-21 17:10] ashishoc opened #65 "Tuple Serialization & DeSerialization"
Hi,

I'm trying to pass tuple as variable but it is throwing serialization error. Can you fix this ? Please help I'm Stuck at middle of development.

http://stackoverflow.com/questions/7733673/triples-in-java

I have to pass object (python tupple) like      **[(4, 3)]**

how can I achieve this with library?

Thanks

[2016-10-21 21:14] gturri commented on #65
Hi,

what does your code look like, and what is the exception (and stacktrace) you have?

[2016-10-24 09:26] Ridwanhasanah opened #66 "I Have edit XMLRPClient but error is SAME please Help"
javax.net.ssl.SSLHandshakeException: java.security.cert.CertPathValidatorException: Trust anchor for certification path not found.

[2016-10-24 09:26] Ridwanhasanah commented on #66
package de.timroes.axmlrpc;

import de.timroes.axmlrpc.serializer.SerializerHandler;
import java.io.IOException;
import java.io.InputStream;
import java.io.OutputStreamWriter;
import java.net.*;
import java.security.SecureRandom;
import java.security.cert.CertificateException;
import java.security.cert.X509Certificate;
import java.util.Map;
import java.util.Properties;
import java.util.concurrent.

[2016-10-24 09:34] gturri commented on #66
Hi,

When you say you edited XMLRPCClient:
* why did you edit it?
* what is the edit you made?

Regarding the exception: it looks like it's not possible to validate the certificate of the server you're trying to connect to. Is it expected? Can you put an actual certificate (eg: with letsencrypt)? Or did you try, in your client code, to set a custom X509TrustManager?

Lastly: I don't understand wha

[2016-10-24 09:49] Ridwanhasanah commented on #66
thanks for notify...

i follow the link https://github.com/gturri/aXMLRPC/commit/e845dcd130918c869622f586df43c6ba601cc11f

i hope connect from android to fix " : java.security.cert.CertPathValidatorException: Trust anchor for certification path not found. "

how to did it?

[2016-10-24 09:55] Ridwanhasanah commented on #66
i want to add X509TrustManager in XMRPClient but not influence

[2016-10-24 09:57] Ridwanhasanah commented on #66
how to add FLAGS_SSL_INGORE_INVALID_CERT??

[2016-10-24 10:02] gturri commented on #66
You're supposed to pass the flag to the `XMLRPCClient` constructor, like this:

    XMLRPCClient myClient = new XMLRPCClient(myUrl, XMLRPCClient.FLAGS_SSL_IGNORE_INVALID_CERT

[2016-10-24 10:06] Ridwanhasanah commented on #66
thanks i want to try now

[2016-10-24 10:10] Ridwanhasanah commented on #66
now i have error ...
java.io.IOException: Hostname 'mysite.odoocenter.com' was not verified

whats is problem?? i frustation

[2016-10-24 10:12] Ridwanhasanah commented on #66
i want to tryy
 client =  new XMLRPCClient(url, XMLRPCClient.FLAGS_SSL_IGNORE_INVALID_CERT | XMLRPCClient.FLAGS_SSL_IGNORE_INVALID_HOST);

[2016-10-24 10:14] Ridwanhasanah commented on #66
thanks i was succesfull..
now work and fine...

[2016-10-24 10:43] #66 closed

[2016-11-09 15:00] kalvian1060 opened #67 "How to want quert with aXmLRPC from get limit data??"

[2016-11-09 15:00] kalvian1060 commented on #67
this my query
   Map fields = new HashMap() {{
            Arrays.asList(
                    Arrays.asList(Arrays.asList(put("fields", Arrays. asList (
                            "id",
                            "name",
                            "image_medium",
                            "company_id",
                            "barcode_nomenclature_id",
                            "stock_l

[2016-11-09 15:01] kalvian1060 commented on #67
this for query..
downloadData = odoo.search_read(listener, Api.DB,mUid, Api.PASS, "pos.config", conditions, fields);

[2016-11-09 16:36] gturri commented on #67
Hi,

I'm not sure I completely understand the question.
(As far as I can tell, it looks more like a question you'd want to ask to odoo guys)

[2016-11-10 01:32] kalvian1060 commented on #67
sorry about that ,,
my language is very bad

this question about how to use
`asList((Object[])models.execute("execute_kw", asList(
    db, uid, password,
    "res.partner", "search",
    asList(asList(
        asList("is_company", "=", true),
        asList("customer", "=", true))),
    new HashMap() {{ put("offset", 10); put("limit", 5); }}
)));`

in aXMLRPC...??

[2016-11-10 01:33] kalvian1060 commented on #67
this document about API odoo...
https://www.odoo.com/documentation/9.0/api_integration.html

[2016-11-10 07:35] gturri commented on #67
Well, xmlrpc is a standard which explains how a client and a server should communicate ([see the spec](http://xmlrpc.scripting.com/)).
And aXMLRPC is just an xmlrpc implementation which make it easy to make such queries and to retrieve the replies.

I'm afraid your question is about how to use code that comes from the  odoo documentation. I don't know this code. I don't know what the `models` clas

[2016-11-10 15:03] kalvian1060 commented on #67
thanys guys

[2016-11-10 15:19] #67 closed

[2016-11-16 08:00] adadion commented on #53
It happened to me just few days ago. And giving `FLAGS_NIL` did the trick!

`XMLRPCClient client = new XMLRPCClient(url, XMLRPCClient.FLAGS_NIL);`

[2016-11-16 09:04] gturri commented on #53
Thanks for this information!
I'll close this issue then.

[2016-11-16 09:04] #53 closed

[2016-11-17 06:56] adadion opened #68 "How to determine which params that couldn't be serialized? NullPointerException"
Hello, I had method call that couldnt be serialized. So it gives me NullPointerException. I've already giving FLAGS_NIL to send null params.

I've succesfully execute create method call, with the exact same params.
In update method, the params is exactly the same, plus an id as java List as the conditions.

I've debug it, and it has correct data to be sent.
But when it comes to call update method,

[2016-11-17 07:47] adadion commented on #68
I ended up with sending params one by one. And the error occured because of empty date. Now, I'll open new issue.

[2016-11-17 07:47] #68 closed

[2016-12-02 03:42] kalvian1060 opened #69 "How to delay request for xmlrpc??"
how to set 5 minute request aXMLrpc if networks is slow??

[2016-12-02 03:42] kalvian1060 commented on #69
thanks

[2016-12-02 06:44] gturri commented on #69
If the network is slow, you may increase the timeout using the method `XMLRPCClient.setTimeout` (https://github.com/gturri/aXMLRPC/blob/master/src/main/java/de/timroes/axmlrpc/XMLRPCClient.java#L303)

[2016-12-02 09:04] kalvian1060 commented on #69
thanks @gturri  for respond...
so what the unit time if i set

`client.setTimeOut(5000)`

[2016-12-02 09:14] gturri commented on #69
According to the javadoc (https://github.com/gturri/aXMLRPC/blob/master/src/main/java/de/timroes/axmlrpc/XMLRPCClient.java#L301) it's in seconds

[2016-12-05 08:50] ruswendra opened #70 "ecvfrom failed: ECONNRESET (Connection reset by peer"
Hi

I have a problem when develop android apps using xmlrpc to retrive data from odoo 9

I call method to search read like this :

    List conditions= Arrays.asList( Arrays.asList( Arrays.asList("id", ">=",3), Arrays.asList("id", "<=", 6)));

    Map fields = new HashMap() {{ put("fields", Arrays.asList( "date","salesperson_id","categ_id","product_id","price_total" )); }};

    long id = client.c

[2016-12-05 09:21] gturri commented on #70
I've never heard of this error with aXMLRPC.
According to http://stackoverflow.com/q/1434451/1796345 it seems that the odoo server replied in an unexpected way.

To go further, you could:
* look at the logs on the odoo server (in particular to see if there are errors or warnings there)
* post the complete stack trace here

[2016-12-06 02:14] ruswendra commented on #70
it's not happened when running on my real device, but i happenned when use genymotion emulator
maybe the problem on network setting emulator or anything on emulator

[2016-12-06 07:34] gturri commented on #70
It's interesting to know that the behavior depends on the platform. Btw, do this failure happen every time on the emulator, or is it random?

Something that could be interesting could be to capture the traffic (with wireshark or tcpdump) that arrives on the server, in order to compare what is happening with the emulator and with the real device.

Also, I still believe it could be interesting to lo

[2016-12-12 03:33] #70 closed

[2017-02-13 13:14] aj019 opened #71 "Latest version of the dependency"
What is the latest version of the dependency used in this project ?

[2017-02-13 13:26] gturri commented on #71
Hi,

all this info is in the [pom.xml](https://github.com/gturri/aXMLRPC/blob/master/pom.xml).

That is:
* The current dev version of aXMLRPC is 1.10.0-SNAPSHOT (the latest stable is [1.9.0](http://search.maven.org/#search%7Cga%7C1%7Caxmlrpc))
* besides dependencies needed for tests, it only uses jISO8601, version 0.2 (cf line 40-44 of the pom.xml), which doesn 't have any transitive [dependency](

[2017-02-13 13:26] #71 closed

[2017-06-09 15:58] #69 closed

[2017-06-09 20:11] xabolcs opened #72 "Interface to provide own implementation for data transport"
As an `aXMLRPC` user I would like to use my own data transport implementation.

It would be nice if there will be an `XMLRPCStream` interface which provides the needed `InputStream` and `OutputStream`.
With this in mind, `aXMLRPC`'s current functionality could be achieved by providing a default implementation of `XMLRPCHTTPStream` interface which extends `XMLRPCStream`.

With the help of `XMLRPCSt

[2017-06-11 16:40] gturri commented on #72
Thanks for this detailed feature request.

I had a closer look at the code, and it appears that half of the code is dealing with the xmlrpc protocol, and the other half is dealing with http.

Rather than trying to decouple the code in `XMLRPCClient` (which appears to be basically "http glue"), I guess it would be much easier to use the xmlrpc code directly.

In practice, instead of

    XMLRPCClie

[2017-06-11 17:39] gturri commented on #65
Closing since the OP didn't reply for more than 6 months

[2017-06-11 17:39] #65 closed

[2017-06-11 17:40] gturri commented on #61
Closing the issue since OP didn't reply for more than 6 months
(feel free to re-open it if needed)

[2017-06-11 17:40] #61 closed

[2017-06-11 17:43] gturri commented on #37
Fixed by https://github.com/gturri/aXMLRPC/commit/500fe0ebb80a5ecad1c521ce4c35eed2fcdee5a3

[2017-06-11 17:43] #37 closed

[2017-06-12 10:42] xabolcs commented on #72
Looks promising, but `ResponseParser` is package local.

Continuing this minimal solution you proposed, there could be an `XMLRPCSimpleClient` class - optionallly containing proposed code - which would be extended by the current `XMLRPCClient`.
In this case the new `XMLRPCSimpleClient` would really close to the proposed `XMLRPCStream` interface.

[2017-06-12 11:57] gturri commented on #72
Oh, indeed. I didn't pay attention to the visibility of this class.
So as you say, I could either:
* make this class public
* or create this kind of `XMLRPCSimpleClient`

It shouldn't be too hard, but I'm afraid I won't have time to work on it before at least the end of the month. (If you're in a hurry, you may push a pull request though)

[2017-06-14 02:26] xabolcs commented on #72
If you vote for making that class public, please notice this minimal usage in the `README.md`!

[2017-06-16 16:32] #72 closed

[2017-06-16 16:34] gturri commented on #72
I tried to create a class which would accept some kind of `ITranport`, and to have `XMLRPCClient` extends it, but it appears to be quite hard to keep retrocompatibility and to end up with an API that wouldn't be clumsy (in particular because of the handling of flags). Hence I made `ResponseParser` public, and updated the doc accordingly.

I didn't really tested it, so please let me know if it actu

[2017-06-19 08:49] xabolcs commented on #72
Sadly, I was unable to try out with unix sockets, but it works flawlessly with `OkHttp` backed `IXMLRPCClientTransport`. :+1:

[code]

[2017-06-23 21:26] gturri commented on #72
I just pushed axmlrpc v1.11.0 on maven central. It contains this patch.

[2017-07-25 23:01] xabolcs commented on #72
I was able to try out `v1.11.0` with unix sockets and it works flawlessly with `socat - UNIX-CONNECT:/tmp/socket.sock` backed `IXMLRPCClientTransport`. 😀

[2017-09-19 14:59] ahmedkhaled4d opened #73 "Bug DateTimeSerializer"

[2017-09-19 15:52] gturri commented on #73
This package comes from the jISO8601 library. See https://github.com/gturri/jISO8601/blob/master/src/main/java/fr/turri/jiso8601/Iso8601Deserializer.java .

The easiest way to make sure dependencies are correctly handled, is to build this project with [maven](http://maven.apache.org/).

Please let me know if this information answer your question.

[2017-10-03 07:08] gturri commented on #31
Closing because it's probably fixed by https://github.com/gturri/aXMLRPC/commit/5c8d8dfdfe559cccb3e0a06b707b223c61d22339 ; and this issue is almost 4 years old anyway so probably not relevant anymore.

[2017-10-03 07:08] #31 closed

[2017-10-03 07:11] gturri commented on #36
Closing because it seems the issue comes from the server, and because plans for 2.0.0 have been forsaken. (and the issue is more than 3y old anyway)

[2017-10-03 07:11] #36 closed

[2017-10-03 07:11] #73 closed

[2017-10-03 07:14] gturri commented on #33
Closing because empty value doesn't seems compliant with the spec anyway

[2017-10-03 07:14] #33 closed

[2017-10-03 07:16] gturri commented on #45
No news for more than a year, and the patch seems to be nowhere to be found. Closing because there's hence not much that can be done about this issue.

[2017-10-03 07:16] #45 closed

[2018-02-22 12:31] srobert0 opened #74 "wrong DateTime Format by serialization"
Hello

I currently use this library on my project.

I am facing a problem with the date format.
aXMLRPC uses the following format when writing a datetime:
`<dateTime.iso8601>20180222T130252</dateTime.iso8601>`

But the official format seems to be:
`<dateTime.iso8601>20180222T13:01:53</dateTime.iso8601>`
with ":" between the hours, minutes and seconds.

The Apache XML/RPC uses this format.
Accordin

[2018-02-22 12:52] gturri commented on #74
Hi,

According to both this wikipedia article and the xmlrpc spec (http://xmlrpc.scripting.com/spec.html) the dates should be written according to the ISO-8601 format.

The ISO-8601 format allows both hh:mm:ss and hhmmss (according to https://en.wikipedia.org/wiki/ISO_8601#Times (I'm afraid the ISO-8601 license doesn't allow me to share the original document))

So it seems to me that there's no bu

[2018-02-23 08:43] gturri commented on #74
On 2nd though: just adding an option to add ":" in the time would be a bit clumsy, because the ISO-8601 actually offers much more flexibility in the acceptable formats (as can be seen for instance in the jISO8601 tests (in particular for the dates https://github.com/gturri/jISO8601/blob/master/src/test/java/fr/turri/jiso8601/TestDeserializeCalendarDates.java ; and for the times https://github.com/

[2018-02-23 08:43] #74 closed

[2018-02-25 16:45] srobert0 commented on #74
Thanks for yougr feedback.
You are right the clients and servers have to support the whole flexibility of ISO-8601.
As I saw the time with ":" in all XML/RPC examples I thought it was a restriction to the standard. And I guess some other people do so as well.
In my case that would be a bug on the server side. But that is a third party application which I cannot change.

Perhaps we could add an opt

[2018-03-06 15:11] taranion opened #75 "Empty dateTime.iso8601 causes exception"
Hi,

When parsing the following XMLRPC response, I get an exception indicating a parse error with the (second) dateTime.iso8601 element, which is empty.

    <?xml version="1.0" encoding="UTF-8" standalone="no"?>
    <methodResponse>
      <params>
        <param>
          <value>
            <struct>
              <member>
                <name>mac</name>
                <value>

[2018-03-06 15:36] gturri commented on #75
Hi,

It seems to me that empty dateTimes aren't allowed according to the xmlrpc spec (http://xmlrpc.scripting.com/spec.html). It hence seems to me it's rather an issue with the server which shouldn't send this field. I'm hence closing this issue. Feel free to re-open it if you disagree with this conclusion.

Still, we might imagine adding a flag that would let the client support this kind of reply

[2018-03-06 15:36] #75 closed

[2018-03-06 15:42] taranion commented on #75
Okay, understood. I am not familiar with the XMLRPC details, so I trust you on this. Unfortunately I have no control over the server XMLRPC implementation - I just need to interwork with it.

Regarding the effective bug report: You were too fast. When I noticed how the XML and stack trace came out, it took me some time to learn how to correct that using markdown. It should be better readable now.

[2018-03-06 16:03] gturri commented on #75
Sorry for being too fast ;) (and thanks for enhancing the original post!)

If you think adding a flag to allow nullable input could help you move forward, feel free to submit a pull request. (if you have questions about how to do it, don't hesitate to ask)

[2018-06-07 03:36] sashas777 opened #77 "XMLRPCException Error getting result from server."
Hi

I  couldn't find out what can be issue:

06-07 03:32:47.476 24314-24645/com.magapp.main E/Sashas: RequestArrayTask::doInBackground:XMLRPCException Error getting result from server.
06-07 03:32:47.477 24314-24645/com.magapp.main W/System.err: de.timroes.axmlrpc.XMLRPCException: Error getting result from server.
06-07 03:32:47.479 24314-24645/com.magapp.main W/System.err:     at de.timroes.axmlr

[2018-06-07 05:12] gturri commented on #77
It seems the server reply can't be parsed. You can build the `XMLRPCClient` with the `FLAGS_DEBUG`: it will display the server reply on the console so it will be easier to understand what is going on.

[2018-06-07 13:30] sashas777 commented on #77
@gturri
I tried to use FLAFS_DEBUG but in this case, I getting XML response at the console.  The response is big but I can see that it has <params><param>  and data type is <array>

Is there a way to find out what specifically is wrong?

[2018-06-07 13:45] gturri commented on #77
According to the stacktrace there's an unexpected `nil` at some point.

If you have a big reply from the server you may try to make it smaller and smaller, to pinpoint the part which is the cause of the issue. (For instance replace your actual server with a stub that will return a hard-coded  reply that you could edit, or write a test using [wiremock](http://wiremock.org/))

[2018-06-11 03:56] sashas777 commented on #77
@gturri

Seems that FLAG_NIL hepled.

Thanks you

[2018-06-11 03:56] #77 closed

[2018-09-02 11:38] aungmyint opened #78 "FileNotFoundException"
Records create from android to Odoo server using this library. This records save in database. But Api response exception (java.io.FileNotFoundException:   http://ip address: port/xmlrpc/2/object). Exception is sometimes.

[2018-09-02 11:53] gturri commented on #78
It would be awesome to have at least:
* a way to reproduce this issue (for instance your code)
* the stacktrace that goes with this exception
* the error log of the odoo server (if there are any)
* the output produced by your code when you use the flag `FLAGS_DEBUG`

Without this information there's no real way to understand this error you're experiencing.

[2018-09-02 12:03] aungmyint commented on #78
Thank your reply.

[2018-09-24 15:46] aungmyint commented on #78
Sale order creates with many items (50) using this library to odoo server. Sale order saves all items in odoo database but api response as exception. Exception is gate way timeout and status code is 504. How to solve this issue?

[2018-09-24 16:13] gturri commented on #78
If you have a timeout issue when you try to create a lot of items then it's tempting to suggest to create fewer items. Or to configure your server to have a longer timeout.

When the http code starts with a 5 it means it's a server error, so it would be more relevant to open a bug report on the project of the server.

I'm closing this issue since it seems unrelated to aXMLRPC.

If you believe you

[2018-09-24 16:13] #78 closed

[2018-12-18 13:16] gturri commented on #51
Actually this sounds a normal behavior to me, since the java "objects" aren't really mapped to any type of the xmlrpc specification (http://xmlrpc.scripting.com/spec.html ).
(Feel free to re-open this issue if you believe I misunderstood something)

[2018-12-18 13:16] #51 closed

[2018-12-18 13:17] gturri commented on #44
closing as it is a duplicate of #51

[2018-12-18 13:17] #44 closed

[2018-12-23 16:57] naser2884 opened #79 "return hashmap problem"

[2018-12-23 17:00] naser2884 opened #80 "return hashmap problem"
Hi

i have connected correctly to jetty on my server nia axmlrpc, when i return integer number its ok, but i want return HashMap<String, Object[]> i get "XMLRPCException: Error getting result from server."

can i return this ? or return arraylist<string> only with 20 values ?

pls get me good solution.

thanks

[2018-12-23 17:00] #79 closed

[2018-12-23 17:07] gturri commented on #80
Hi,

AFAIU `HashMap<String, Object[]>` isn't a type supported by the xmlrpc protocol and hence by this library.

You may want to have a look at
* the xmlrpc specification http://xmlrpc.scripting.com/spec.html to find out the types supported by this protocol
* the documentation of aXMLRPC to find out how it maps to java types: https://github.com/gturri/aXMLRPC#the-data-types

[2018-12-23 17:07] #80 closed

[2018-12-23 18:07] naser2884 commented on #80
Ok , what about "array	=> Object[]" ?

i test to return Object[] same the problem ?

pls give me way to return multi-values from server

thanks

[2018-12-23 18:58] gturri commented on #80
An xmlrpc `struct` will be mapped to a `Map<String,Object>`.
An xmlrpc `array` will be mapped to `Object[]`

You might want to read the xmlrpc [specification](http://xmlrpc.scripting.com/spec.html) to see how this data should be serialized by the server.

[2018-12-24 15:59] naser2884 commented on #80
many thanks @gturri , but why u dont need give me example pls i am new

i am return Object[] from server to client but same problem,

please please please tell me how can i return array of string from server

i waiting u

[2018-12-24 16:44] naser2884 commented on #80
@gturri i am using xmlrpc on java app swing, and i am return hashmap and arraylist without problem, but here i dont know how can i do it.

please tell me how return arraylist from server and receive it in client with small code ,
please please please

[2018-12-24 17:31] gturri commented on #80
I can't give you more details because I don't know what the server is sending. I don't know swing, I don't know the code you're using on the server, I don't know if there are error in your server log.
You could try to build the instance of `XMLRPCClient` with the flag `FLAGS_DEBUG`: it will give you more information about what went wrong

[2018-12-24 18:09] naser2884 commented on #80
@gturri ok i know the error

XMLRPCException: net.ddns.nasserpi.loginapp.XMLRPCException: The Content-Type of the response must be text/xml.

what the best solution ?

[2019-07-12 16:59] rbiq opened #89 "Mapping nested complex properties"
[code]
With the above model in place, I'm trying to call
`Show show = (Show) client.call('getShow', apiKey)`

this will work and map the Show primitive properties correctly except showTimes. For showTimes which is a complex property its returning a HashMap. Is this default behavior or am I missing something? Likewise prices will also get mapped as object[]. How do I resolve this issue? Can you ple

[2019-07-25 13:37] gturri commented on #89
Hi,
My understanding is that complex types aren't supported by [the xmlrpc spec](http://xmlrpc.scripting.com/spec.html). Also, aXMLRPC has no knowledge about your classes so I'm not sure there would be an easy way to return them. I'm afraid you have to write a method to convert the returned Object into the ones you're expecting. See for instance how this client does it: https://github.com/gturri/d

[2019-07-25 13:37] #89 closed

[2020-10-14 06:05] agilanbu commented on #53
@adadion Thanks for your input. its worked for me.

[2020-10-14 06:11] adadion commented on #53
You're welcome

[2020-10-16 11:44] dhivya29 opened #108 "Parser Exception"
After the last update we are getting parser exception issue
as of now we are using  "com.github.gturri:aXMLRPC:master-SNAPSHOT "
How do we resolve?

[2020-10-16 14:05] agilanbu opened #109 "After your last update facing this issue - de.timroes.axmlrpc.XMLRPCException: Error getting result from server." error in "onError"
After your last update , am getting this "de.timroes.axmlrpc.XMLRPCException: Error getting result from server." error in "onError" block for every api call hit.

my client is :
public OdooHelper(Context context, String meta_path) {
        try {
            this.generalUtils = GeneralUtils.getInstance();
            SessionManager sessionManager = new SessionManager(context);
            DBHelper

[2020-10-16 17:23] gturri commented on #108
The latest commits may have brought some regressions. Sorry about that. I've reverted them until I get the time to look at it more closely and come up with a better fix.
That being said, I have a few questions:

- has your issue been fixed? (I guess it may take some time until it's fixed, because I'm not sure what is generating the `master-SNAPSHOT` artifact and when it runs)
- could you give me m

[2020-10-16 17:23] gturri commented on #109
The latest commits may have brought some regressions. Sorry about that. I've reverted them until I get the time to look at it more closely and come up with a better fix.
That being said, I have a few questions:

- has your issue been fixed? (I guess it may take some time until it's fixed, because I'm not sure what is generating the `master-SNAPSHOT` artifact and when it runs)
- could you give me m

[2020-10-16 17:38] dhivya29 commented on #108
Ok Thanks for the update.will Check andet you know.

On Fri, 16 Oct, 2020, 10:53 PM Guillaume Turri, <notifications@github.com>
wrote:

[2020-10-16 17:45] dhivya29 commented on #108
Can you please share the dependency

On Fri, 16 Oct, 2020, 11:08 PM Dhivya Balaji, <dhivyadhatchayani@gmail.com>
wrote:

[2020-10-16 18:13] gturri commented on #108
I'm not sure I understand which dependency you're talking about (in the sense that I've never released any `master-SNAPSHOT` artifact myself.

Could you use version `1.12.0` instead? Does it fix the issue you're experiencing?

[2020-10-16 18:43] agilanbu commented on #109
Thanks for the quick response, Still facing the same. Can you elaborate how can I use the 1.12.0 version in Android studio java.

[2020-10-16 21:52] gturri commented on #109
I guess you have a `build.gradle` file somewhere in your project which contains something like this:

[code]

try turning it into this:

[code]

[2020-10-26 14:16] dorado89 opened #110 "java.io.FileNotFoundException"
This exception is showing when I try to connect to https://login.agni.lindenlab.com/cgi-bin/login.cgi
I tested the XMLRPC with https://xmlrpc.devzing.com/ and it is working as it should.
Here is my implementation of the library:
[code]

[2020-10-26 21:29] gturri commented on #110
Could you please:
- tell me the version of aXMLRPC you are using
- show me the stacktrace you have
- pass the `FLAGS_DEBUG`  (by turning line 2 of your code snippet to `val xmlclient = XMLRPCClient(URL(uri), XMLRPCClient.FLAGS_SSL_IGNORE_INVALID_CERT|FLAGS_DEBUG)` and show the relevant part that would be displayed on your console

[2020-10-27 01:20] dorado89 commented on #110
- aXMLRPC version : 1.8.0
- StackTrace:
[code]
- And FLAGS_DEBUG shows as a unresolved reference. looking at all the flags of XMLRPCClient, it doesn't show up as an option.

[2020-10-27 01:46] dorado89 commented on #110
- aXMLRPC version : 1.12.0
- StackTrace:
[code]
- FLAGS_DEBUG works in this vevrsion, but it only shows the xml that will to be send to the server:
[code]

[2020-10-27 06:14] gturri commented on #110
`curl -kI https://login.agni.lindenlab.com/cgi-bin/login.cgiW/System.err` tells me `HTTP/1.1 404 Not Found`. Could this error be due to a bad url?

[2020-10-27 12:33] dorado89 commented on #110
You have a typo, you should do ```curl -kI https://login.agni.lindenlab.com/cgi-bin/login.cgi``` not ```curl -kI https://login.agni.lindenlab.com/cgi-bin/login.cgiW/System.err```

[2020-10-27 14:25] gturri commented on #110
Ah yes, sorry.
However this url gives me 403 error. Could the error comes from that?
Also, I'm a bit surprised to see references to `okhttp`  (and I have no clue what `com.dragongames.chalet` is): how is this possible with the code snippet you're showing? Do you have a particular setup?

[2020-10-27 16:51] dorado89 commented on #110
The server only accepts xml queries, anything else is forbidden, that is why the 403 error.  If you need to test connections, the server has a error message, if the query with method name ```login_to_simulator``` is empty or has incorrect parameters it will show the following response:
[code]
As for ```okhttp```, is in the OS core and is the default HttpUrlConnection since Android 4.4 [Twitter lin

[2020-10-27 19:56] gturri commented on #110
Thanks for this information.
So far I'm still not able to run a successful xmlrpc query with curl, which makes it pretty not convenient to investigate. More precisely I've tried running this query

  # simplified <struct> for readability
  curl -k -XPOST -d '<?xml version="1.0" encoding="UTF-8"?><methodCall><methodName>login_to_simulator</methodName><params><param><value><struct><member><name>view

[2020-10-27 20:09] gturri commented on #110
Thanks for this information.

Unfortunately I'm still not able to run a successful query with curl, which makes is pretty not convenient to investigate the issue with aXMLRPC. More precisely I've run this command (with simplified payload for readability)

`curl -k -XPOST -d '<?xml version="1.0" encoding="UTF-8"?><methodCall><methodName>login_to_simulator</methodName><params><param><value><struct><

[2020-10-28 01:35] dorado89 commented on #110
To be honest, I have never used cURL for XMLRPC queries. Tho as I see it, the cURL query you are doing atleast it is giving an response from the server. For my XMLRPC testing for this server, I am using ```https://xmlrpc.devzing.com/```, tho I don't know if that tool will work for you.

[2020-10-28 14:35] dorado89 commented on #110
Ok I fixed my implementation with a workaround. I did some testing and it seems that if you are ignoring or using custom certifications for a server that has a unknown certification it will throw a ```FileNotFound``` exception, my suspect on all this is ```HttpsURLConnection.sslSocketFactory```. My workaround was the implementation of a Network security configuration (NSC) and pass the website's c

[2020-10-28 20:55] gturri commented on #110
Thanks for this information.
Could you please post here a snippet of code which shows your workaround (in case someone might need it in the future)?

[2020-10-28 22:09] dorado89 commented on #110
[code]
The ``` XMLRPCClient.FLAGS_SSL_IGNORE_INVALID_CERT``` was triggering the error with this server. So I implemented Network Security Configuration (NSC) [Link](https://developer.android.com/training/articles/security-config).
So this are the snippets to implement the workaround for my problem:
- ```android:networkSecurityConfig="@xml/network_security_config"``` in the manifest file
- Configur

[2020-10-28 22:25] gturri commented on #110
thanks for this information.

[2020-10-28 22:25] #110 closed

[2021-01-07 22:16] hazzyeer opened #112 "Log the XMLRPC request"
Hello,

I would like to know if there is a way to log the XMLRPC request as a string ?

Thank you.

[2021-01-07 22:36] gturri commented on #112
Hi,
does the `FLAGS_DEBUG` fits your needs?

[2021-01-07 22:43] hazzyeer commented on #112
Yes, perfect ! Thank you.

[2021-01-07 22:43] #112 closed

[2021-04-08 03:18] makoysof opened #113 "aXMLRPC"
Hi. I'm trying to use axmlrpc to connect to odoo in android studio. When I try to create a record, this error is shown.

W/System.err: de.timroes.axmlrpc.XMLRPCServerException: Traceback (most recent call last):
      File "/opt/odoo13/odoo13-server/odoo/addons/base/controllers/rpc.py", line 63, in xmlrpc_2
        response = self._xmlrpc(service)
      File "/opt/odoo13/odoo13-server/odoo/addons/

[2021-04-08 08:10] makoysof opened #114 "aXMLRPC"
Hi. So I'm using axmlrpc to connect android to odoo. When trying to create a model, I encounter this error.

de.timroes.axmlrpc.XMLRPCException: No serializer found for type 'com.mark.busworld.DatabaseHandler'.
        at de.timroes.axmlrpc.serializer.SerializerHandler.serialize(SerializerHandler.java:193)
W/System.err:     at de.timroes.axmlrpc.Call.getXMLParam(Call.java:91)
        at de.timroes

[2021-04-08 09:02] gturri commented on #114
Hi,
This error means that the response from the server is incorrect. In order to know more about what is going on you should try using the [debug flag](https://github.com/gturri/aXMLRPC#flags_debug)

[2021-04-08 09:03] gturri commented on #113
Hi,
The error is occuring on the server side so you should probably get in touch with odoo instead of axmlrpc.
That being said, you might want to have a look at the [debug flag](https://github.com/gturri/aXMLRPC#flags_debug): it should give you more clue about what is occuring.

[2022-03-10 14:43] florianewert opened #137 "XMLRPCclient - CookieManager"
Hi, I have a quick question. If I use the XMLRPCclient, can I manually overwrite the previously set cookies?

best regards from germany 😎

[2022-03-10 16:22] gturri commented on #137
Hi,
I think you should be able to do that if you call `CMLRPCClient.getCookies` and then edit the map that you get.
Don't hesitate to let me know if that work

(Btw, out of curiosity: why do you want to do this?)

[2022-03-11 06:00] florianewert commented on #137
thanks, i will test it.

I would resume an old session after starting a new session.

[2022-03-11 07:42] florianewert commented on #137
It works. Thanks for your help ✌️

[2022-03-11 08:36] #137 closed

[2022-11-04 14:05] Frettman commented on #43
I'm also interested in having this fixed, especially since the fix - as shown - is quite trivial.

[2022-11-04 16:12] #114 closed

[2022-11-04 16:12] #113 closed

[2022-11-04 16:14] #109 closed

[2022-11-04 16:15] #108 closed

[2022-11-04 16:33] Frettman commented on #43
The problem is that `new OutputStreamWriter(http.getOutputStream())` uses the system's default encoding to write out the XML request. When the default encoding is _not_ `UTF-8` (like on Windows; at least until Java 18), this is in conflict with the static `<?xml version="1.0" encoding="UTF-8"?>` from the generated request.
I suppose the default encoding on Android is already UTF-8, so it's never b

[2022-11-04 18:55] #43 closed

[2022-11-04 18:56] gturri commented on #43
Thanks for this information.
The fix is merged.
I'll try to release an updated version soon

[2022-11-04 21:25] gturri commented on #43
The fix should be available in aXMLRPC v `1.12.1` that I just released.
However, I didn't do releases in a while and I encountered some weird error in the process. So even though I see that this version is available on maven central (https://central.sonatype.dev/artifact/fr.turri/aXMLRPC/1.12.1 ), I'm not 100% sure it was all successful.

Long story short:  @Frettman I would appreciate if you can

[2022-11-04 21:27] Frettman commented on #43
Thanks a lot for the quick response and fix. Much appreciated :)

[2022-11-07 16:28] Frettman commented on #43
I can confirm that the release has indeed fixed the issue :)

[2022-11-07 17:08] gturri commented on #43
Cool! thanks for taking the time to test it